<h2><%= @game.home_team.name%> VS. <%= @game.away_team.name%></h2>
<span> Spread: <%= @game.spread%> </span>
<div>
  <%= semantic_form_for ([@game, @bet]) do |f| %>
	<%= render 'shared/validation', :object => f.object %>
    <%= f.inputs do %>
      <%= f.input :team_id, :label => "Choose winner", :as => :select,  :collection => { @game.home_team.short_name =>  @game.home_team.id, @game.away_team.short_name =>  @game.away_team.id } %>
      <%= f.input :wager, :as => :number, :min => 1 %>
    <% end %>
    <%= f.buttons do %>
      <%= f.commit_button %>
    <% end %>
  <% end %>
</div>

