<div id="profileFeed">
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

  This is the Profile for <%= current_user.name %>
</div>



    <table>
      <tr>
        <th>Wager Amount</th>
        <th>Type</th>
        <th>Team</th>
        <th>Win</th>
      </tr>
        <% current_user.bets.each do |f| %>
          <tr>
            <td><%= f.wager %></td>
            <td><%= f.bet_type %></td>
            <td><%= link_to f.team.short_name, f.team, :class => "logo nfl" + f.team.short_name + "-small" %></td>
            <td><%= f.win_status %> </td>
          </tr>
        <% end %>
    </table>

    no bets placed!
    



