<div id="gameFeed">
  <h1>Games#index</h1>
  <p>Find me in app/views/games/index.html.erb</p>
  This is the Games Feed for <%= current_user.name %><br></br>
</div>
<img src ='<%= League.find(1).logo_path %>' width="37" height="37"/>  Week 13

<div style="height:350px;width:300px;overflow-y:scroll;overflow-x:hidden;background-color:#DDD">
  
  
<% @games.each do |game| %>
  <table>
    <tr>
      <td><img src=<%= game.away_team.logo_path %> width="37" height="37" border="1"/></td>
      <td width = 50px><%= game.away_team.short_name %></td>
      <td width = 45px> @ </td>
      <td width = 20px>C</td>
      <td> #field# <td>     
    </tr> 
    <tr>
      <td><img src='<%=  game.home_team.logo_path %>' width="37" height="37" border="1"/></td>
      <td><%=  game.home_team.short_name %></td>
      <td><%= game.spread %></td>
      <td width>C</td>
      <td> #field# <td>
    </tr>
  </table>
  </br>
<% end %>
</div>
Submit!
