<div id="gameFeed">
  <h1>Games#index</h1>
  <p>Find me in app/views/games/index.html.erb</p>
  This is the Games Feed for <%= current_user.name %>
</div>

<table>
  <tr>
    <th><img src = <%= League.find(1).logo_path %> width="37" height="37"/>Week 13</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></tv>
  </tr>

<% Game.find(:all, :conditions => {:week => 13}).each do |game| %>
  <tr>
    <td>
      <img src=<%= Team.find(game.away_team_id).logo_path %> width="37" height="37"/>
    </td>
    <td>
      <%= Team.find(game.away_team_id).short_name %>
      </td>
    <td>
      <%= game.away_score %> @
    </td>
    <td>
      <img src=<%= Team.find(game.home_team_id).logo_path %> width="37" height="37"/>
    </td>
    <td>
      <%= Team.find(game.home_team_id).short_name %>
      </td>
    <td>
      <%= game.away_score %>
      </td>
    <td>
      <%= game.spread %>
      </td>
    <td>
      <a id='betLink' >Bet</a>
    </td>
  </tr>
	<tr>
		
	</tr>
<% end %>
</table>

<br />
