<div id="topHolder">
	<div id="topbar">
		<div id="topHead">
			<div id="home">
				<%= link_to "MajorLeagueBetting", root_path %>
			</div>
			<div id="topnav" class="topnav">
			<% if signed_in? %>
<<<<<<< HEAD
				 <%= image_tag current_user.avatar.url(:header) %>
=======
				<%= link_to current_user.username, current_user, :id => "userLink" %>
>>>>>>> 6bd4b85275fa0a7bf3080ddcffe6e44d12ffcd10
				<%= link_to "Sign out", signout_path, :method => :delete, :class => "signin" %>
			<% else %>
				<a href="" class="signin"><span>Sign in</span></a>
				<fieldset id="signin_menu">
					<%= render :partial => 'sessions/signin' %>
				</fieldset>
			<% end %>
			</div>
		</div>
	</div>
</div>
