<div id="topHolder">
	<div id="topbar">
		<div id="topHead">
			<div id="home">
				<%= link_to "MajorLeagueBetting", root_path %>
			</div>
			<div id="topnav" class="topnav">
			<% if signed_in? %>
				<span>
					<%= number_to_currency(current_user.money, :precision=>0) %>
				</span>
				<% if current_user.avatar? %>
					<%= link_to image_tag(current_user.avatar.url(:header), :border => 0 ) + current_user.username, current_user, :id => "userLink" %>	
				<% else %>
					<%= link_to current_user.username, current_user, :id => "userLink" %>
				<% end %>
				
				<%= link_to "Sign out", signout_path, :method => :delete, :class => "signin" %>
			<% else %>
				<a href="" class="signin"><span>Sign in</span></a>
				<fieldset id="signin_menu">
					<%= render :partial => 'sessions/signin' %>
				</fieldset>
			<% end %>
			</div>
		</div>
	</div>
</div>
