<div id="navigation">

	<div id="profile_button">
		<%= link_to "", current_user, :class => "feed" %>
		<a href="#" class="button">Profile</a>
        
        <div id="profile" class="initially_closed">
	
            <%= image_tag current_user.avatar.url(:thumb) %>
			<h1 style="profile_money"><%= number_to_currency(current_user.money, :precision=>0) %></h1>
			<table align="center">
				<tr>
					<th>Pending Bets</th>
					<th>Recent Bets</th>
				</tr>
				<tr>
					<td>pending 1</td>
					<td>recent 1</td>
				</tr>
				<tr>
					<td>pending 2</td>
					<td>recent 2</td>
				</tr>
				<tr>
					<td>pending 3</td>
					<td>recent 3</td>
				</tr>
			</table>
        </div>
	</div> <!-- profile button -->
	
	<div id="games_button">
		<%= link_to "", games_path, :class => "feed" %>
		<a href="#" class="button">Games</a>
        
        <div id="games" class="initially_closed">
            <table align="center">
				<tr>
					<th colspan="2">Upcoming Games:</th>
				</tr>

                <%= Game.find(:all, :conditions => {:completed => false}, :limit => 3).each do |game| %>
                <tr>					
					<td class="games_upcoming">
						<%= Team.find(game.away_team_id).short_name %>
						<%= Team.find(game.home_team_id).short_name %>   
						<%= game.spread %></td>
					<td class="games_bets"> 0 bets</td>
                </tr>
				<% end %>

				<tr>
					<th colspan="2">Previous Games:</th>
				</tr>

                <%= Game.find(:all, :order => "id DESC", :conditions => {:completed => true}, :limit => 3).each do |game| %>
				<tr>
					<td class="games_upcoming">
						<%= Team.find(game.away_team_id).short_name %>
						<%= game.away_score %> @ 
						<%= Team.find(game.home_team_id).short_name %>   
						<%= game.home_score %>
						<%= game.spread %></td>
					<td class="games_bets">202 bets</td>
				</tr>
                <% end %>
				
			</table>
        </div>
	</div> <!-- games button -->
	
	<div id="statistics_button">
		<%= link_to "", statistics_path, :class => "feed" %>
		<a href="#" class="button">Statistics</a>
        
        <div id="statistics" class="initially_closed">
            <table align="center">
				<tr>
					<th>Current Streak:</th>
					<td>+3</td>
				</tr>
				<tr>
					<th>Win/Loss Ratio:</th>
					<td>3.12</td>
				</tr>
				<tr>
					<th>Total $ Won:</th>
					<td>$199</td>
				</tr>
			</table>
        </div>
	</div> <!-- statistics button -->
	
	<div id="leaderboards_button">
		<%= link_to "", leaderboards_path, :class => "feed" %>
		<a href="#" class="button">Leaderboards</a>
        
        <div id="leaderboards" class="initially_closed">
            <table align="center">
				<tr>
					<th>Total $:</th>
					<td>$<%= current_user.money %> (1025th place)</td>
				</tr>
				<tr>
					<th>Total Wins:</th>
					<td> <%= Bet.find(:all, :conditions => {:user_id => current_user.id, :win_status => true}).count %> (100th place)</td>
				</tr>
				<tr>
					<th>Achievements:</th>
					<td>61 (322nd place)</td>
				</tr>
			</table>
        </div>
	</div> <!-- leaderboards button -->
	
	<div id="achievements_button">
		<%= link_to '', achievements_path, :class => "feed" %>
		<a href="#" class="button last_button">Achievements</a>
        
        <div id="achievements" class="initially_closed">
            <table align="center">
				<tr>
					<th colspan="2">Achievements 20/100</th>
				</tr>
				<tr>
					<td class="achievement_name">5 In A Row</td>
					<td class="achievement_progress">4/5</td>
				</tr>
				<tr>
					<td class="achievement_name">Win One Hundo</td>
					<td class="achievement_progress">88/100</td>
				</tr>
				<tr>
					<td class="achievement_name">Get 'Em!</td>
					<td class="achievement_progress">2/3</td>
				</tr>
			</table>
        </div>
	</div> <!-- achievements button -->
	
</div> <!-- navigation -->