<div id="navigation">

	<div id="profile_button">
		<%= link_to "", current_user, :class => "feed" %>
		<a href="#" class="button">Profile</a>
        
        <div id="profile" class="initially_closed">
            <img src="" alt="players_picture" />
			<h1 style="profile_money"><%= number_to_currency(current_user.money, :precision=>0) %></h1>
			<table align="center">
				<tr>
					<th>Pending Bets</th>
					<th>Recent Bets</th>
				</tr>
				<tr>
					<td>pending 1</td>
					<td>recent 1</td>
				</tr>
				<tr>
					<td>pending 2</td>
					<td>recent 2</td>
				</tr>
				<tr>
					<td>pending 3</td>
					<td>recent 3</td>
				</tr>
			</table>
        </div>
	</div> <!-- profile button -->
	
	<div id="games_button">
		<%= link_to "", games_path, :class => "feed" %>
		<a href="#" class="button">Games</a>
        
        <div id="games" class="initially_closed">
            <table align="center">
				<tr>
					<th colspan="2">Upcoming Games:</th>
				</tr>
				<tr>
					
					<td class="games_upcoming">
						<%= Team.find(Game.find(148).away_team_id).short_name %>
						<%= Game.find(148).away_score %> @ 
						<%= Team.find(Game.find(148).home_team_id).short_name %>   
						<%= Game.find(148).home_score %>
						<%= Game.find(148).spread %></td>
					<td class="games_bets">202 bets</td>
				</tr>
				<tr>
					<td class="games_upcoming">
						<%= Team.find(Game.find(149).away_team_id).short_name %>
						<%= Game.find(149).away_score %> @ 
						<%= Team.find(Game.find(149).home_team_id).short_name %>   
						<%= Game.find(149).home_score %>
						<%= Game.find(149).spread %></td>
					<td class="games_bets">1 bet</td>
				</tr>
				<tr>
					<td class="games_upcoming">
						<%= Team.find(Game.find(159).away_team_id).short_name %>
						<%= Game.find(159).away_score %> @ 
						<%= Team.find(Game.find(159).home_team_id).short_name %>   
						<%= Game.find(159).home_score %>
						<%= Game.find(159).spread %></td>
					<td class="games_bets">48 bets</td>
				</tr>
				
				<tr>
					<th colspan="2">Previous Games:</th>
				</tr>
				<tr>
					<td class="games_upcoming">
						<%= Team.find(Game.find(147).away_team_id).short_name %>
						<%= Game.find(147).away_score %> @ 
						<%= Team.find(Game.find(147).home_team_id).short_name %>   
						<%= Game.find(147).home_score %>
						<%= Game.find(147).spread %></td>
					<td class="games_bets">202 bets</td>
				</tr>
				<tr>
					<td class="games_upcoming">
					<%= Team.find(Game.find(1).away_team_id).short_name %>
					<%= Game.find(1).away_score %> @ 
					<%= Team.find(Game.find(1).home_team_id).short_name %>   
					<%= Game.find(1).home_score %>
					<%= Game.find(1).spread %></td>
					<td class="games_bets">1 bet</td>
				</tr>
				<tr>
					<td class="games_upcoming"> 
						<%= Team.find(Game.find(24).away_team_id).short_name %>
						<%= Game.find(24).away_score %> @ 
						<%= Team.find(Game.find(24).home_team_id).short_name %>   
						<%= Game.find(24).home_score %>
						<%= Game.find(24).spread %></td>
					<td class="games_bets">48 bets</td>
				</tr>
			</table>
        </div>
	</div> <!-- games button -->
	
	<div id="statistics_button">
		<%= link_to "", statistics_path, :class => "feed" %>
		<a href="#" class="button">Statistics</a>
        
        <div id="statistics" class="initially_closed">
            <table align="center">
				<tr>
					<th>Current Streak:</th>
					<td>+3</td>
				</tr>
				<tr>
					<th>Win/Loss Ratio:</th>
					<td>3.12</td>
				</tr>
				<tr>
					<th>Total $ Won:</th>
					<td>$199</td>
				</tr>
			</table>
        </div>
	</div> <!-- statistics button -->
	
	<div id="leaderboards_button">
		<%= link_to "", leaderboards_path, :class => "feed" %>
		<a href="#" class="button">Leaderboards</a>
        
        <div id="leaderboards" class="initially_closed">
            <table align="center">
				<tr>
					<th>Total $:</th>
					<td>$23 (1025th place)</td>
				</tr>
				<tr>
					<th>Total Wins:</th>
					<td>551 (100th place)</td>
				</tr>
				<tr>
					<th>Achievements:</th>
					<td>61 (322nd place)</td>
				</tr>
			</table>
        </div>
	</div> <!-- leaderboards button -->
	
	<div id="achievements_button">
		<%= link_to '', achievements_path, :class => "feed" %>
		<a href="#" class="button last_button">Achievements</a>
        
        <div id="achievements" class="initially_closed">
            <table align="center">
				<tr>
					<th colspan="2">Achievements 20/100</th>
				</tr>
				<tr>
					<td class="achievement_name">5 In A Row</td>
					<td class="achievement_progress">4/5</td>
				</tr>
				<tr>
					<td class="achievement_name">Win One Hundo</td>
					<td class="achievement_progress">88/100</td>
				</tr>
				<tr>
					<td class="achievement_name">Get 'Em!</td>
					<td class="achievement_progress">2/3</td>
				</tr>
			</table>
        </div>
	</div> <!-- achievements button -->
	
</div> <!-- navigation -->