<div id="navigation">

	<div id="profile_button">
		<%= link_to "", current_user, :class => "feed" %>
		<a href="#" class="button">Profile</a>
        
        <div id="profile" class="initially_closed">
            <img src="" width="100" height="100" alt="players_picture" />
			<h1 style="profile_money">$100,000,000</h1>
			<table align="center">
				<tr>
					<th>Pending Bets</th>
					<th>Recent Bets</th>
				</tr>
				<tr>
					<td>pending 1</td>
					<td>recent 1</td>
				</tr>
				<tr>
					<td>pending 2</td>
					<td>recent 2</td>
				</tr>
				<tr>
					<td>pending 3</td>
					<td>recent 3</td>
				</tr>
			</table>
        </div>
	</div> <!-- profile button -->
	
	<div id="games_button">
		<%= link_to "", games_path, :class => "feed" %>
		<a href="#" class="button">Games</a>
        
        <div id="games" class="initially_closed">
            <table align="center">
				<tr>
					<th colspan="2">Upcoming Games:</th>
				</tr>
				<tr>
					<td class="games_upcoming">Game 4</td>
					<td class="games_bets">202 bets</td>
				</tr>
				<tr>
					<td class="games_upcoming">Game 5</td>
					<td class="games_bets">1 bet</td>
				</tr>
				<tr>
					<td class="games_upcoming">Game 6</td>
					<td class="games_bets">48 bets</td>
				</tr>
				
				<tr>
					<th colspan="2">Previous Games:</th>
				</tr>
				<tr>
					<td class="games_upcoming">Game 4</td>
					<td class="games_bets">202 bets</td>
				</tr>
				<tr>
					<td class="games_upcoming">Game 5</td>
					<td class="games_bets">1 bet</td>
				</tr>
				<tr>
					<td class="games_upcoming">Game 6</td>
					<td class="games_bets">48 bets</td>
				</tr>
			</table>
        </div>
	</div> <!-- games button -->
	
	<div id="statistics_button">
		<%= link_to "", statistics_path, :class => "feed" %>
		<a href="#" class="button">Statistics</a>
        
        <div id="statistics" class="initially_closed">
            Game, player, career, seasonal, and league statistics 
        </div>
	</div> <!-- statistics button -->
	
	<div id="leaderboards_button">
		<%= link_to "", leaderboards_path, :class => "feed" %>
		<a href="#" class="button">Leaderboards</a>
        
        <div id="leaderboards" class="initially_closed">
            How users in the world of Major LeaguedBetting rate comparatively
        </div>
	</div> <!-- leaderboards button -->
	
	<div id="achievements_button">
		<%= link_to '', achievements_path, :class => "feed" %>
		<a href="#" class="button">Achievements</a>
        
        <div id="achievements" class="initially_closed">
            Personal achievements for current user will be displayed here.
        </div>
	</div> <!-- achievements button -->
	
</div> <!-- navigation -->