<!DOCTYPE PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= title %></title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <%= render :partial => 'layouts/header' %>
    <div id="content">
      <% flash.each do |key, value| %>
    	<div class="flash <%= key %>">
          <%= value %>
        </div>
      <% end %>
      <% if signed_in? %>
	<%= render :partial => 'layouts/navigation' %>
      <% end %>
      <%= yield %>
    </div>
    <div id="footer">
      footer
    </div>
  </div>
</body>
<%= debug(params) if Rails.env.development? %>
</html>
